* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
@font-face {
    font-family: mont;
    src: url(./FONTS/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: mont;
}

nav {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

nav div {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}
nav ul li a:hover{
    color: #00AAA4;
}

nav input {
    width: 25vw;
    padding: 1.5rem;
    margin-right: 3rem;
    border-radius: 1rem;
    border: 1px grey solid;
}
::placeholder{
    font-family: mont;
}
nav button {
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
    outline: none;
    border: 1px solid lightgrey;
    background-color: white;
    font-family: mont;
}
nav button:hover{
    background-color: #00AAA4;
    color: white;
    transform: rotate(3deg);
}

.header-images {
    display: grid;
    grid-template-areas: 
        "nisha nisha spunky shredded super"
        "nisha nisha redape disk duck"
    ;
    height: 80vh;
    width: 95vw;
    margin: 0 auto;
    gap: 1rem;
    font-weight: bold;
}

.header-images div {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.header-images div:hover{
    transform: scale(1.02);
    transform: rotate(2deg);
}
.header-images span{
    color: #000;
}
.header-images p {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
}

.header-images div:nth-child(1) {
    background-image: url(./img/nft1.png);
    grid-area: nisha;
}

.header-images div:nth-child(2) {
    background-image: url(./img/nft2.png);
    grid-area: spunky;
}

.header-images div:nth-child(3) {
    background-image: url(./img/nft3.png);
    grid-area: shredded;
}

.header-images div:nth-child(4) {
    background-image: url(./img/nft4.png);
    grid-area: super;
}

.header-images div:nth-child(5) {
    background-image: url(./img/nft5.png);
    grid-area: redape;
}

.header-images div:nth-child(6) {
    background-image: url(./img/nft6.png);
    grid-area: disk;
}

.header-images div:nth-child(7) {
    background-image: url(./img/nft7.png);
    grid-area: duck;
}
.section-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
    height: 100vh;
    margin: 2rem 0;
}
.trending{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
}
.trending h2{
    font-size: 3rem;
    font-weight: bold;
}
.trending span{
    color: #00AAA4;
}
.trending p{
    font-size: 1.8rem;
    font-weight: bold;
}
.trending-coins div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px #00AAA4 solid;
}